.section__main{
    margin: 0 auto;
    /* padding-left: 80px; */
    padding-top: 30px;
    padding-bottom: 20px;
    height: 100%;
    background-color: rgb(34, 34, 34);
    line-height: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 30px 30px 0px 0px;
}

.section__name{
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    margin-top: 30px;
}

.section__table{
    color: white;
    font-size: 1.5em;
    font-weight: 100;
}

th{
    padding-right: 180px;
    padding-left: 50px;
}

td{
    padding-right: 180px;
    padding-left: 50px;
    padding-bottom: 20px;
    font-size: 0.9em;
}

.section__table_cryptoChange{
    color: rgb(167, 65, 65);
}

.section__crypto_list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    padding-bottom: 20px;
}

.section__article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}